flow-dashboard-mcz.json
[
    {
        "id": "547cd5bb.6e5b94",
        "type": "tab",
        "label": "Dashboard MCZ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c0a46dd.9b4d78",
        "type": "tab",
        "label": "MCZ",
        "disabled": true,
        "info": ""
    },
    {
        "id": "902bf099.abc98",
        "type": "tab",
        "label": "Hue",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95a2e8dd.86e0d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35247d4b.2cd272",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.1.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2dd35ac0.440406",
        "type": "ui_group",
        "name": "Main",
        "tab": "c1d0735d.51287",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c1d0735d.51287",
        "type": "ui_tab",
        "name": "Infos",
        "icon": "fa-fire",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2f5d7c9.fa8c88",
        "type": "websocket-client",
        "path": "wss://echo.websocket.org",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "8bae72a3.51491",
        "type": "websocket-client",
        "path": "ws://192.168.120.1:81/",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "f2219f1d.0de848",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Poêle MCZ",
            "hideToolbar": "true",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b19a5d3f.a5cc58",
        "type": "ui_group",
        "name": "State",
        "tab": "c1d0735d.51287",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e202dce0.bc10f",
        "type": "ui_tab",
        "name": "Récap Infos",
        "icon": "fa-cogs",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fb0a0886.53a18",
        "type": "ui_group",
        "name": "Rapport",
        "tab": "e202dce0.bc10f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "775f65c.428dc9c",
        "type": "hue-bridge",
        "name": "hue Shrog",
        "bridge": "192.168.1.5",
        "key": "pDz9SBuRI8S8ev8ouou2dWA9V5MIIhFmjRHGOhGX",
        "interval": "3000",
        "disableupdates": false
    },
    {
        "id": "3c39d1c6.cc929e",
        "type": "redmatic-homekit-bridge",
        "name": "RedMatic Bridge",
        "username": "CC:22:3D:86:5D:27",
        "pincode": "904-81-040",
        "port": "51826"
    },
    {
        "id": "f718ef71.e19a4",
        "type": "redmatic-homekit-bridge",
        "name": "RedMatic Bridge",
        "username": "CC:22:3D:9D:CE:A7",
        "pincode": "150-49-615",
        "port": "51826"
    },
    {
        "id": "6887c43e.cb855c",
        "type": "hue-bridge",
        "name": "Philips hue",
        "bridge": "192.168.0.10",
        "key": "xxxx",
        "interval": "3000"
    },
    {
        "id": "3396d2b7.e8a90e",
        "type": "ui_tab",
        "name": "Lampes",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3eaff2ae.953f4e",
        "type": "ui_group",
        "name": "Default",
        "tab": "3396d2b7.e8a90e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aeaf3714.022bc8",
        "type": "mqtt in",
        "z": "4c0a46dd.9b4d78",
        "name": "MQTT",
        "topic": "PUBmcz",
        "qos": "2",
        "datatype": "auto",
        "broker": "35247d4b.2cd272",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "83276f54.c64e6"
            ]
        ]
    },
    {
        "id": "83276f54.c64e6",
        "type": "json",
        "z": "4c0a46dd.9b4d78",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "e8ea35db.33a1b8",
                "29f51d9c.55a862",
                "da8d926c.7e832",
                "5bee1951.d30e98"
            ]
        ]
    },
    {
        "id": "950dbdfc.4a8a5",
        "type": "inject",
        "z": "4c0a46dd.9b4d78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Etat du po\\u00eale\": \"Eteint\", \"Etat du ventilateur d'ambiance\": \"Automatique\", \"Temp\\u00e9rature des fum\\u00e9es\": 20, \"Temp\\u00e9rature ambiante\": 20.5, \"Etat de la bougie\": 0, \"ACTIVE - Set\": 280, \"RPM - Ventilateur fumm\\u00e9es\": 0, \"RPM - Vis sans fin - SET\": 0, \"RPM - Vis sans fin - LIVE\": 0, \"Etat du mode Active\": 1, \"ACTIVE - Live\": 102, \"Mode de r\\u00e9gulation\": \"Dynamique\", \"Mode ECO\": 1, \"Mode Chronotermostato\": 1, \"TEMP - Consigne\": 20.0, \"TEMP - Carte m\\u00e8re\": 32.5, \"Puissance Active\": \"Puissance 1\", \"Heure du po\\u00eale (0-23)\": 9, \"Minutes du po\\u00eale (0-29)\": 13, \"Jour du po\\u00eale (1-31)\": 13, \"Mois du po\\u00eale (1-12)\": 11, \"Ann\\u00e9e du po\\u00eale\": 2020, \"Heures de fonctionnement total (s)\": \"19:1:46:59\", \"Heures de fonctionnement en puissance 1 (s)\": \"2:6:58:31\", \"Heures de fonctionnement en puissance 2 (s)\": \"0:2:43:44\", \"Heures de fonctionnement en puissance 3 (s)\": \"0:2:37:46\", \"Heures de fonctionnement en puissance 4 (s)\": \"0:4:40:47\", \"Heures de fonctionnement en puissance 5 (s)\": \"9:4:30:12\", \"Heures avant entretien\": 1986, \"Minutes avant extinction\": 0, \"Nombre d'allumages\": 307, \"Etat effets sonores\": 0, \"Mode\": \"Hiver\"}",
        "payloadType": "json",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "83276f54.c64e6"
            ]
        ]
    },
    {
        "id": "e8ea35db.33a1b8",
        "type": "function",
        "z": "4c0a46dd.9b4d78",
        "name": "Température",
        "func": "context.global.msg = msg.payload\np = msg.payload[\"Température ambiante\"]\nmsg.payload = p\nmsg.topic = \"TA\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "cd0b694c.83c2d8",
                "6a300320.6e2f1c"
            ]
        ]
    },
    {
        "id": "cd0b694c.83c2d8",
        "type": "ui_gauge",
        "z": "4c0a46dd.9b4d78",
        "name": "",
        "group": "2dd35ac0.440406",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp. actuelle",
        "label": "",
        "format": "{{value}} °C",
        "min": 0,
        "max": "30",
        "colors": [
            "#0a8ccd",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "17",
        "seg2": "19",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "29f51d9c.55a862",
        "type": "function",
        "z": "4c0a46dd.9b4d78",
        "name": "Etat du poele",
        "func": "p = msg.payload[\"Etat du poêle\"]\nmsg.payload = p\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "11fb7391.ae067c"
            ]
        ]
    },
    {
        "id": "6a300320.6e2f1c",
        "type": "ui_chart",
        "z": "4c0a46dd.9b4d78",
        "name": "",
        "group": "2dd35ac0.440406",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historique températures",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "da8d926c.7e832",
        "type": "function",
        "z": "4c0a46dd.9b4d78",
        "name": "Chauffe O/N",
        "func": "etat = msg.payload[\"Etat du poêle\"]\n\nif(etat == \"Standby\" || etat == \"Eteint\" || etat == \"Refroidissement en cours\"){\n    msg.payload = \"0\"\n}\nelse{\n    msg.payload = 1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 380,
        "wires": [
            [
                "5a6469c5.5d155"
            ]
        ]
    },
    {
        "id": "11fb7391.ae067c",
        "type": "ui_text",
        "z": "4c0a46dd.9b4d78",
        "group": "2dd35ac0.440406",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Etat du poêle : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "5a6469c5.5d155",
        "type": "ui_chart",
        "z": "4c0a46dd.9b4d78",
        "name": "",
        "group": "2dd35ac0.440406",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Allumage On / Off",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 850,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "af906ee3.a88c48",
        "type": "comment",
        "z": "4c0a46dd.9b4d78",
        "name": "Liste des paramètres",
        "info": "RecuperoInfo=[\n[1,« Etat du poêle »,[\n[0, « Eteint »],\n[1, « Controle du poele froid / chaud »],\n[2, « Clean Froid »],\n[3, « Load Froid »],\n[4, « Start 1 Froid »],\n[5, « Start 2 Froid »],\n[6, « Clean Chaud »],\n[7, « Load Chaud »],\n[8, « Start 1 chaud »],\n[9, « Start 2 chaud »],\n[10, « Stabilisation »],\n[11, « Puissance 1 »],\n[12, « Puissance 2 »],\n[13, « Puissance 3 »],\n[14, « Puissance 4 »],\n[15, « Puissance 5 »],\n[30, « Mode diagnostique »],\n[31, « Marche »],\n[40, « Extinction »],\n[41, « Refroidissement en cours »],\n[42, « Nettoyage basse p. »],\n[43, « Nettoyage haute p. »],\n[44, « Debloquage vis sans fin »],\n[45, « AUTO ECO »],\n[46, « Standby »],\n[48, « Diagnostique »],\n[49, « CHARG. VIS SANS FIN »],\n[50, « Erreur A01 - Allumage rate »],\n[51, « Erreur A02 - Pas de flamme »],\n[52, « Erreur A03 - Surchauffe du reservoir »],\n[53, « Erreur A04 - Temperature des fumees trop haute »],\n[54, « Erreur A05 - Obstruction conduit - Vent »],\n[55, « Erreur A06 - Mauvais tirage »],\n[56, « Erreur A09 - Defaillance sonde de fumees »],\n[57, « Erreur A11 - Defaillance motoreducteur »],\n[58, « Erreur A13 - Temperature carte mere trop haute »],\n[59, « Erreur A14 - Defaut Active »],\n[60, « Erreur A18 - Temperature d’eau trop haute »],\n[61, « Erreur A19 - Defaut sonde température eau »],\n[62, « Erreur A20 - Defaut sonde auxiliaire »],\n[63, « Erreur A21 - Alarme pressostat »],\n[64, « Erreur A22 - Defaut sonde ambiante »],\n[65, « Erreur A23 - Defaut fermeture brasero »],\n[66, « Erreur A12 - Panne controleur motoreducteur »],\n[67, « Erreur A17 - Bourrage vis sans fin »],\n[69, « Attente Alarmes securite »],\n]],\n[2,« Etat du ventilateur d’ambiance »,[\n[0, « Desactive »],\n[1, « Niveau 1 »],\n[2, « Niveau 2 »],\n[3, « Niveau 3 »],\n[4, « Niveau 4 »],\n[5, « Niveau 5 »],\n[6, « Automatique »],\n]],\n[3,« Etat du ventilateur canalise 1 »,[\n[0, « Desactive »],\n[1, « Niveau 1 »],\n[2, « Niveau 2 »],\n[3, « Niveau 3 »],\n[4, « Niveau 4 »],\n[5, « Niveau 5 »],\n[6, « Automatique »],\n]],\n[4,« Etat du ventilateur canalise 2 »,[\n[0, « Desactive »],\n[1, « Niveau 1 »],\n[2, « Niveau 2 »],\n[3, « Niveau 3 »],\n[4, « Niveau 4 »],\n[5, « Niveau 5 »],\n[6, « Automatique »],\n]],\n[5,« Température des fumées »],\n[6,« Température ambiante »],\n[7,« Puffer Température »], # !=255 == Hydro\n[8,« Température chaudiére »],\n[9,« Température NTC3 »], # !=255 == Hydro\n[10,« Etat de la bougie »],\n[11,« ACTIVE - Set »],\n[12,« RPM - Ventilateur fummées »],\n[13,« RPM - Vis sans fin - SET »],\n[14,« RPM - Vis sans fin - LIVE »],\n[15,« Valve 3 voies »], # 1= Sani !1= Risc ==Hydro\n[16,« Alimentation pompe »],\n[17,« Brazero »,[\n[0, « OK »],\n[101, « Ouverture brazero »],\n[100, « Fermeture brazero »],\n]], # !==Matic\n[18,« Profile »,[\n[0, « Manuel »],\n[1, « Dynamic »],\n[2, « Overnight »],\n[3, « Comfort »],\n[4, « Power 110% »],\n[10, « Mode Adaptatif »],\n]],\n[19,« Modbus address »],\n[20,« Etat du mode Active »], #0: Désactivé, 1: Activé\n[21,« ACTIVE - Live »],\n[22,« Mode de régulation »,[\n[0, « Manuelle »],\n[1, « Dynamique »],\n]],\n[23,« Mode ECO »],\n[24,« Silence »],\n[25,« Mode Chronotermostato »],\n[26,« TEMP - Consigne »],\n[27,« TEMP - Boiler »],\n[28,« TEMP - Carte mère »],\n[29,« Puissance Active »,[\n[11, « Puissance 1 »],\n[12, « Puissance 2 »],\n[13, « Puissance 3 »],\n[14, « Puissance 4 »],\n[15, « Puissance 5 »],\n]],\n[32,« Heure du poêle (0-23) »],\n[33,« Minutes du poêle (0-59) »],\n[34,« Jour du poêle (1-31) »],\n[35,« Mois du poêle (1-12) »],\n[36,« Année du poêle »],\n[37,« Heures de fonctionnement total (s) »],\n[38,« Heures de fonctionnement en puissance 1 (s) »],\n[39,« Heures de fonctionnement en puissance 2 (s) »],\n[40,« Heures de fonctionnement en puissance 3 (s) »],\n[41,« Heures de fonctionnement en puissance 4 (s) »],\n[42,« Heures de fonctionnement en puissance 5 (s) »],\n[43,« Heures avant entretien »],\n[44,« Minutes avant extinction »],\n[45,« Nombre d’allumages »],\n[46,« Temperature active »],\n[47,« Farenheit »,[\n[0, « Celcius »],\n[1, « Farenheit »],\n]],\n[48,« Effet sonore »],\n[49,« Etat effets sonores »],\n[50,« Sleep »],\n[51,« Mode »,[\n[0, « Hiver »],\n[1, « Ete »],\n]],\n[52,« Sonde wifi temperature 1 »],\n[53,« Sonde wifi temperature 2 »],\n[54,« Sonde wifi temperature 3 »],\n[55,« Inconnu »], # !==Suppose que c’est le retour d info sur le niveau de pellet\n[56,« Set Puffer »],\n[57,« Set Boiler »],\n[58,« Set Health »], # !==Hydro\n[59,« Température retour »],\n[60,« Antigele »],\n]",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "5bee1951.d30e98",
        "type": "debug",
        "z": "4c0a46dd.9b4d78",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "72b8df8b.86b458",
        "type": "websocket in",
        "z": "547cd5bb.6e5b94",
        "name": "MCZ API",
        "server": "",
        "client": "8bae72a3.51491",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "62d1906d.b72178",
                "deffffef.4024"
            ]
        ]
    },
    {
        "id": "62d1906d.b72178",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "RecuperoInfo",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 300,
        "y": 580,
        "wires": []
    },
    {
        "id": "953fb1fc.a24e98",
        "type": "websocket out",
        "z": "547cd5bb.6e5b94",
        "name": "MCZ API",
        "server": "",
        "client": "8bae72a3.51491",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "a3432b9f.6f4888",
        "type": "inject",
        "z": "547cd5bb.6e5b94",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C|RecuperoInfo",
        "payloadType": "str",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "953fb1fc.a24e98"
            ]
        ]
    },
    {
        "id": "77e0a055.668068",
        "type": "ui_text",
        "z": "547cd5bb.6e5b94",
        "group": "b19a5d3f.a5cc58",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Etat",
        "label": "Etat du pôele :",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1090,
        "y": 500,
        "wires": []
    },
    {
        "id": "7d2dfaf9.a409cc",
        "type": "ui_text",
        "z": "547cd5bb.6e5b94",
        "group": "fb0a0886.53a18",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Température déclenchement",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "e9dc2021.6cf41",
        "type": "ui_text",
        "z": "547cd5bb.6e5b94",
        "group": "fb0a0886.53a18",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mode Eco",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 700,
        "wires": []
    },
    {
        "id": "db3628a7.ff97b",
        "type": "ui_text",
        "z": "547cd5bb.6e5b94",
        "group": "fb0a0886.53a18",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mode Chrono",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 880,
        "y": 800,
        "wires": []
    },
    {
        "id": "acfc8b6a.92eee8",
        "type": "ui_text",
        "z": "547cd5bb.6e5b94",
        "group": "fb0a0886.53a18",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Régulation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "4952830c.a74afc",
        "type": "ui_gauge",
        "z": "547cd5bb.6e5b94",
        "name": "",
        "group": "b19a5d3f.a5cc58",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp. actuelle",
        "label": "",
        "format": "{{value}} °C",
        "min": 0,
        "max": "30",
        "colors": [
            "#0a8ccd",
            "#00f900",
            "#ffaa00"
        ],
        "seg1": "20",
        "seg2": "21",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "63c8ae71.b28cb",
        "type": "ui_chart",
        "z": "547cd5bb.6e5b94",
        "name": "",
        "group": "b19a5d3f.a5cc58",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historique températures",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "4320",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "dc157e51.54978",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "Filtre état On / Off",
        "func": "etat = msg.payload\nif(etat == \"Standby\" || etat == \"Eteint\" || etat == \"Refroidissement en cours\"){\n    msg.payload = \"0\"\n}\nelse{\n    msg.payload = 1\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "b4599768.c09818"
            ]
        ]
    },
    {
        "id": "b4599768.c09818",
        "type": "ui_chart",
        "z": "547cd5bb.6e5b94",
        "name": "",
        "group": "b19a5d3f.a5cc58",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Marche / Arret",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "4320",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e11432",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1120,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "1daff22a.606856",
        "type": "comment",
        "z": "547cd5bb.6e5b94",
        "name": "Liste des paramètres",
        "info": "RecuperoInfo=[\n[1,« Etat du poêle »,[\n[0, « Eteint »],\n[1, « Controle du poele froid / chaud »],\n[2, « Clean Froid »],\n[3, « Load Froid »],\n[4, « Start 1 Froid »],\n[5, « Start 2 Froid »],\n[6, « Clean Chaud »],\n[7, « Load Chaud »],\n[8, « Start 1 chaud »],\n[9, « Start 2 chaud »],\n[10, « Stabilisation »],\n[11, « Puissance 1 »],\n[12, « Puissance 2 »],\n[13, « Puissance 3 »],\n[14, « Puissance 4 »],\n[15, « Puissance 5 »],\n[30, « Mode diagnostique »],\n[31, « Marche »],\n[40, « Extinction »],\n[41, « Refroidissement en cours »],\n[42, « Nettoyage basse p. »],\n[43, « Nettoyage haute p. »],\n[44, « Debloquage vis sans fin »],\n[45, « AUTO ECO »],\n[46, « Standby »],\n[48, « Diagnostique »],\n[49, « CHARG. VIS SANS FIN »],\n[50, « Erreur A01 - Allumage rate »],\n[51, « Erreur A02 - Pas de flamme »],\n[52, « Erreur A03 - Surchauffe du reservoir »],\n[53, « Erreur A04 - Temperature des fumees trop haute »],\n[54, « Erreur A05 - Obstruction conduit - Vent »],\n[55, « Erreur A06 - Mauvais tirage »],\n[56, « Erreur A09 - Defaillance sonde de fumees »],\n[57, « Erreur A11 - Defaillance motoreducteur »],\n[58, « Erreur A13 - Temperature carte mere trop haute »],\n[59, « Erreur A14 - Defaut Active »],\n[60, « Erreur A18 - Temperature d’eau trop haute »],\n[61, « Erreur A19 - Defaut sonde température eau »],\n[62, « Erreur A20 - Defaut sonde auxiliaire »],\n[63, « Erreur A21 - Alarme pressostat »],\n[64, « Erreur A22 - Defaut sonde ambiante »],\n[65, « Erreur A23 - Defaut fermeture brasero »],\n[66, « Erreur A12 - Panne controleur motoreducteur »],\n[67, « Erreur A17 - Bourrage vis sans fin »],\n[69, « Attente Alarmes securite »],\n]],\n[2,« Etat du ventilateur d’ambiance »,[\n[0, « Desactive »],\n[1, « Niveau 1 »],\n[2, « Niveau 2 »],\n[3, « Niveau 3 »],\n[4, « Niveau 4 »],\n[5, « Niveau 5 »],\n[6, « Automatique »],\n]],\n[3,« Etat du ventilateur canalise 1 »,[\n[0, « Desactive »],\n[1, « Niveau 1 »],\n[2, « Niveau 2 »],\n[3, « Niveau 3 »],\n[4, « Niveau 4 »],\n[5, « Niveau 5 »],\n[6, « Automatique »],\n]],\n[4,« Etat du ventilateur canalise 2 »,[\n[0, « Desactive »],\n[1, « Niveau 1 »],\n[2, « Niveau 2 »],\n[3, « Niveau 3 »],\n[4, « Niveau 4 »],\n[5, « Niveau 5 »],\n[6, « Automatique »],\n]],\n[5,« Température des fumées »],\n[6,« Température ambiante »],\n[7,« Puffer Température »], # !=255 == Hydro\n[8,« Température chaudiére »],\n[9,« Température NTC3 »], # !=255 == Hydro\n[10,« Etat de la bougie »],\n[11,« ACTIVE - Set »],\n[12,« RPM - Ventilateur fummées »],\n[13,« RPM - Vis sans fin - SET »],\n[14,« RPM - Vis sans fin - LIVE »],\n[15,« Valve 3 voies »], # 1= Sani !1= Risc ==Hydro\n[16,« Alimentation pompe »],\n[17,« Brazero »,[\n[0, « OK »],\n[101, « Ouverture brazero »],\n[100, « Fermeture brazero »],\n]], # !==Matic\n[18,« Profile »,[\n[0, « Manuel »],\n[1, « Dynamic »],\n[2, « Overnight »],\n[3, « Comfort »],\n[4, « Power 110% »],\n[10, « Mode Adaptatif »],\n]],\n[19,« Modbus address »],\n[20,« Etat du mode Active »], #0: Désactivé, 1: Activé\n[21,« ACTIVE - Live »],\n[22,« Mode de régulation »,[\n[0, « Manuelle »],\n[1, « Dynamique »],\n]],\n[23,« Mode ECO »],\n[24,« Silence »],\n[25,« Mode Chronotermostato »],\n[26,« TEMP - Consigne »],\n[27,« TEMP - Boiler »],\n[28,« TEMP - Carte mère »],\n[29,« Puissance Active »,[\n[11, « Puissance 1 »],\n[12, « Puissance 2 »],\n[13, « Puissance 3 »],\n[14, « Puissance 4 »],\n[15, « Puissance 5 »],\n]],\n[32,« Heure du poêle (0-23) »],\n[33,« Minutes du poêle (0-59) »],\n[34,« Jour du poêle (1-31) »],\n[35,« Mois du poêle (1-12) »],\n[36,« Année du poêle »],\n[37,« Heures de fonctionnement total (s) »],\n[38,« Heures de fonctionnement en puissance 1 (s) »],\n[39,« Heures de fonctionnement en puissance 2 (s) »],\n[40,« Heures de fonctionnement en puissance 3 (s) »],\n[41,« Heures de fonctionnement en puissance 4 (s) »],\n[42,« Heures de fonctionnement en puissance 5 (s) »],\n[43,« Heures avant entretien »],\n[44,« Minutes avant extinction »],\n[45,« Nombre d’allumages »],\n[46,« Temperature active »],\n[47,« Farenheit »,[\n[0, « Celcius »],\n[1, « Farenheit »],\n]],\n[48,« Effet sonore »],\n[49,« Etat effets sonores »],\n[50,« Sleep »],\n[51,« Mode »,[\n[0, « Hiver »],\n[1, « Ete »],\n]],\n[52,« Sonde wifi temperature 1 »],\n[53,« Sonde wifi temperature 2 »],\n[54,« Sonde wifi temperature 3 »],\n[55,« Inconnu »], # !==Suppose que c’est le retour d info sur le niveau de pellet\n[56,« Set Puffer »],\n[57,« Set Boiler »],\n[58,« Set Health »], # !==Hydro\n[59,« Température retour »],\n[60,« Antigele »],\n]",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "d10dfcef.c253c8",
        "type": "websocket out",
        "z": "547cd5bb.6e5b94",
        "d": true,
        "name": "",
        "server": "",
        "client": "8bae72a3.51491",
        "x": 760,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2cef4314.aec1d4",
        "type": "inject",
        "z": "547cd5bb.6e5b94",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "C|WriteParametri|23|00",
        "payloadType": "str",
        "x": 480,
        "y": 1280,
        "wires": [
            [
                "d10dfcef.c253c8"
            ]
        ]
    },
    {
        "id": "fcd4c1c4.2f63f8",
        "type": "hue-light",
        "z": "902bf099.abc98",
        "name": "Hue go 1",
        "bridge": "775f65c.428dc9c",
        "lightid": "2",
        "colornamer": true,
        "skipevents": false,
        "universalevents": false,
        "x": 360,
        "y": 520,
        "wires": [
            [
                "2eb1047f.002dcc",
                "af744795.b28a78"
            ]
        ]
    },
    {
        "id": "6ab0dd1b.0cff74",
        "type": "inject",
        "z": "902bf099.abc98",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "359d8ff8.26c22"
            ]
        ]
    },
    {
        "id": "193badc6.8456c2",
        "type": "comment",
        "z": "547cd5bb.6e5b94",
        "name": "With great power comes great responsibility",
        "info": "1111 -> O/1 chrono off / on",
        "x": 650,
        "y": 1240,
        "wires": []
    },
    {
        "id": "4dfa2cfd.08ca64",
        "type": "inject",
        "z": "902bf099.abc98",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"on\":true,\"brightness\":60,\"hex\":\"ec689f\"}",
        "payloadType": "json",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "7156c9c3.ec0238",
                "359d8ff8.26c22"
            ]
        ]
    },
    {
        "id": "7156c9c3.ec0238",
        "type": "debug",
        "z": "902bf099.abc98",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "359d8ff8.26c22",
        "type": "hue-light",
        "z": "902bf099.abc98",
        "name": "Hue go 1",
        "bridge": "775f65c.428dc9c",
        "lightid": "2",
        "colornamer": true,
        "skipevents": false,
        "universalevents": false,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "7156c9c3.ec0238"
            ]
        ]
    },
    {
        "id": "2eb1047f.002dcc",
        "type": "split",
        "z": "902bf099.abc98",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "key",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "1ce56639.a5953a",
                "883cc524.3f83f8",
                "64cd9e5c.6f531"
            ]
        ]
    },
    {
        "id": "1ce56639.a5953a",
        "type": "switch",
        "z": "902bf099.abc98",
        "name": "Hex",
        "property": "key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "hex",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "ef8956fb.049a48"
            ]
        ]
    },
    {
        "id": "d5c00f55.d0b4a",
        "type": "hue-light",
        "z": "902bf099.abc98",
        "name": "Hue go 1",
        "bridge": "775f65c.428dc9c",
        "lightid": "2",
        "colornamer": true,
        "skipevents": false,
        "universalevents": false,
        "x": 1180,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f9a48296.727a6",
        "type": "ui_switch",
        "z": "902bf099.abc98",
        "name": "",
        "label": "On/Off",
        "tooltip": "",
        "group": "3eaff2ae.953f4e",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "on",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "5529e23c.4599ac"
            ]
        ]
    },
    {
        "id": "883cc524.3f83f8",
        "type": "switch",
        "z": "902bf099.abc98",
        "name": "On",
        "property": "key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 520,
        "wires": [
            [
                "f9a48296.727a6"
            ]
        ]
    },
    {
        "id": "af744795.b28a78",
        "type": "debug",
        "z": "902bf099.abc98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "5529e23c.4599ac",
        "type": "function",
        "z": "902bf099.abc98",
        "name": "",
        "func": "val = msg.payload;\nkey = msg.topic;\nvar obj = {};\nobj[key] = val\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "d5c00f55.d0b4a"
            ]
        ]
    },
    {
        "id": "64cd9e5c.6f531",
        "type": "switch",
        "z": "902bf099.abc98",
        "name": "On",
        "property": "key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "brightness",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "b7a245b0.dc0548"
            ]
        ]
    },
    {
        "id": "b7a245b0.dc0548",
        "type": "ui_slider",
        "z": "902bf099.abc98",
        "name": "",
        "label": "Intensité",
        "tooltip": "",
        "group": "3eaff2ae.953f4e",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "brightness",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 820,
        "y": 600,
        "wires": [
            [
                "5529e23c.4599ac"
            ]
        ]
    },
    {
        "id": "ef8956fb.049a48",
        "type": "ui_colour_picker",
        "z": "902bf099.abc98",
        "name": "",
        "label": "Couleur",
        "group": "3eaff2ae.953f4e",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": true,
        "topic": "hex",
        "x": 800,
        "y": 420,
        "wires": [
            [
                "5529e23c.4599ac"
            ]
        ]
    },
    {
        "id": "1bb299a4.a86b36",
        "type": "ui_button",
        "z": "547cd5bb.6e5b94",
        "name": "",
        "group": "2dd35ac0.440406",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "#000",
        "bgcolor": "#80FFC8",
        "icon": "refresh",
        "payload": "C|RecuperoInfo",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "953fb1fc.a24e98"
            ]
        ]
    },
    {
        "id": "deffffef.4024",
        "type": "split",
        "z": "547cd5bb.6e5b94",
        "name": "Découpage",
        "splt": "|",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "608dc5c5.a0df3c"
            ]
        ]
    },
    {
        "id": "608dc5c5.a0df3c",
        "type": "switch",
        "z": "547cd5bb.6e5b94",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "26",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "23",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "25",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "6c80a8f3.c1e9f8"
            ],
            [
                "180937e5.4f6408"
            ],
            [
                "26e2fbb3.9dd324"
            ],
            [
                "ebb5ddf0.91976"
            ],
            [
                "b10a6b.1e869598"
            ],
            [
                "3e8c9b1e.4850f4"
            ]
        ]
    },
    {
        "id": "6c80a8f3.c1e9f8",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "Température",
        "func": "temp = msg.payload\ntemp = parseInt(temp,16)/2;\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 360,
        "wires": [
            [
                "32bd560c.77bf9a",
                "4952830c.a74afc",
                "63c8ae71.b28cb"
            ]
        ]
    },
    {
        "id": "32bd560c.77bf9a",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "Température",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "7097893e.ffbf48",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "Etat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "180937e5.4f6408",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "Libellé Etat",
        "func": "tab = msg.payload;\nindexEtat = parseInt(tab,16);\n\ndata = [{code:0,libelle: \"Eteint\"},\n{code:1,libelle: \"Controle du poele froid / chaud\"},\n{code:2,libelle: \"Clean Froid\"},\n{code:3,libelle: \"Load Froid\"},\n{code:4,libelle: \"Start 1 Froid\"},\n{code:5,libelle: \"Start 2 Froid\"},\n{code:6,libelle: \"Clean Chaud\"},\n{code:7,libelle: \"Load Chaud\"},\n{code:8,libelle: \"Start 1 chaud\"},\n{code:9,libelle: \"Start 2 chaud\"},\n{code:10,libelle: \"Stabilisation\"},\n{code:11,libelle: \"Puissance 1\"},\n{code:12,libelle: \"Puissance 2\"},\n{code:13,libelle: \"Puissance 3\"},\n{code:14,libelle: \"Puissance 4\"},\n{code:15,libelle: \"Puissance 5\"},\n{code:30,libelle: \"Mode diagnostique\"},\n{code:31,libelle: \"Marche\"},\n{code:40,libelle: \"Extinction\"},\n{code:41,libelle: \"Refroidissement en cours\"},\n{code:42,libelle: \"Nettoyage basse p.\"},\n{code:43,libelle: \"Nettoyage haute p.\"},\n{code:44,libelle: \"Débloquage vis sans fin\"},\n{code:45,libelle: \"AUTO ECO\"},\n{code:46,libelle: \"Standby\"},\n{code:48,libelle: \"Diagnostique\"},\n{code:49,libelle: \"CHARG. VIS SANS FIN\"},\n{code:50,libelle: \"Erreur A01 - Allumage raté\"},\n{code:51,libelle: \"Erreur A02 - Pas de flamme\"},\n{code:52,libelle: \"Erreur A03 - Surchauffe du réservoir\"},\n{code:53,libelle: \"Erreur A04 - Température des fumées trop haute\"},\n{code:54,libelle: \"Erreur A05 - Obstruction conduit - Vent\"},\n{code:55,libelle: \"Erreur A06 - Mauvais tirage\"},\n{code:56,libelle: \"Erreur A09 - Défaillance sonde de fumées\"},\n{code:57,libelle: \"Erreur A11 - Défaillance motoréducteur\"},\n{code:58,libelle: \"Erreur A13 - Température carte mère trop haute\"},\n{code:59,libelle: \"Erreur A14 - Défaut Active\"},\n{code:60,libelle: \"Erreur A18 - Température d'eau trop haute\"},\n{code:61,libelle: \"Erreur A19 - Défaut sonde température eau\"},\n{code:62,libelle: \"Erreur A20 - Défaut sonde auxiliaire\"},\n{code:63,libelle: \"Erreur A21 - Alarme pressostat\"},\n{code:64,libelle: \"Erreur A22 - Défaut sonde ambiante\"},\n{code:65,libelle: \"Erreur A23 - Défaut fermeture brasero\"},\n{code:66,libelle: \"Erreur A12 - Panne controleur motoréducteur\"},\n{code:67,libelle: \"Erreur A17 - Bourrage vis sans fin\"},\n{code:69,libelle: \"Attente Alarmes securité\"}];\n\netat = data.find(tmp => tmp.code === indexEtat);\n\nmsg.payload = etat.libelle;\n\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 480,
        "wires": [
            [
                "7097893e.ffbf48",
                "dc157e51.54978",
                "77e0a055.668068"
            ]
        ]
    },
    {
        "id": "26e2fbb3.9dd324",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "TempConsigne",
        "func": "tempc = msg.payload\ntempc = parseInt(tempc,16)/2;\nmsg.payload = tempc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 600,
        "wires": [
            [
                "63ac9ac3.f82464",
                "7d2dfaf9.a409cc"
            ]
        ]
    },
    {
        "id": "63ac9ac3.f82464",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "Temperature Consigne",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "ebb5ddf0.91976",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "Mode Eco",
        "func": "eco = msg.payload\nstate = \"Désactivé\"\nif (eco===\"01\")\n    state = \"Activé\";\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 700,
        "wires": [
            [
                "e9dc2021.6cf41",
                "bf59cb25.57cda8"
            ]
        ]
    },
    {
        "id": "b10a6b.1e869598",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "Mode Chrono",
        "func": "chrono = msg.payload;\nstate = \"Désactivé\"\nif (chrono===\"01\")\n    state = \"Activé\";\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "db3628a7.ff97b",
                "9540ebcf.70efb8"
            ]
        ]
    },
    {
        "id": "3e8c9b1e.4850f4",
        "type": "function",
        "z": "547cd5bb.6e5b94",
        "name": "Mode Régulation",
        "func": "reg = msg.payload;\n\nstate = \"Manuelle\"\nif (reg===\"01\")\n    state = \"Automatique\";\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 900,
        "wires": [
            [
                "acfc8b6a.92eee8",
                "a86c1f2f.3167c"
            ]
        ]
    },
    {
        "id": "bf59cb25.57cda8",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "Mode Eco",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 740,
        "wires": []
    },
    {
        "id": "9540ebcf.70efb8",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "Mode Chrono",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "a86c1f2f.3167c",
        "type": "debug",
        "z": "547cd5bb.6e5b94",
        "name": "Mode Régulation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 940,
        "wires": []
    }
]